.income-view {
  display: block;
  height: 100%;
  background-color: var(--lumo-contrast-10pct);
}

.income-view vaadin-grid {
  line-height: var(--lumo-line-height-m);
}

table#table {
  max-height: 300px;
}

.income-view vaadin-grid,
.income-view vaadin-grid-cell-content {
  background-color: var(--lumo-contrast-10pct);
}

.income-view .card {
  max-height: 30%;
  padding: 0 0 0 0;
  margin: 10px 0 0 10px;
  background-color: var(--lumo-base-color);
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
}

.income-view .income_add_btn {
  margin-left: 20px;
  margin-top: 20px;
}

.income-view .header {
  align-items: baseline;
}

h2 {
  margin-bottom: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.income-view .income_button {
  margin: 12px 10px 0;
  color: #212121E6;
}

.income-view .income_dialog {
  width: 300px;
  max-width: 100%;
}


/*
.income-view vaadin-grid-cell-content {
  background-color: white;
}*/